---
import { Image } from "astro:assets";
import washingMachine from "../assets/categories-pics/washing-machine.png";
import dishwasher from "../assets/categories-pics/dishwasher.png";
import freezer from "../assets/categories-pics/freezers.png";
import oven from "../assets/categories-pics/oven.png";
import microwave from "../assets/categories-pics/microwave.png";
import vacuum from "../assets/categories-pics/vacuum.png";
import stove from "../assets/categories-pics/stove.png";
import smalls from "../assets/categories-pics/smalls.png";
---

<main>
  <h2>Обслуживание и Ремонт техники Midea</h2>
  <div class="categories">
    <ul class="categories-list">
      <li class="categories-item">
        <Image src={washingMachine} alt="Ремонт стиральных машин" />
        <p class="item-text">Ремонт стиральных машин</p>
      </li>
      <li class="categories-item">
        <Image src={dishwasher} alt="Ремонт посудомоечных машин" />
        <p class="item-text">Ремонт посудомоечных машин</p>
      </li>
      <li class="categories-item">
        <Image src={freezer} alt="Ремонт холодильник" />
        <p class="item-text">Ремонт холодильников</p>
      </li>
      <li class="categories-item">
        <Image src={oven} alt="Ремонт духовых шкафов" />
        <p class="item-text">Ремонт духовых шкафов</p>
      </li>
      <li class="categories-item">
        <Image src={microwave} alt="Ремонт микроволновых печей" />
        <p class="item-text">Ремонт микроволновых печей</p>
      </li>
      <li class="categories-item">
        <Image src={vacuum} alt="Ремонт пылесосов" />
        <p class="item-text">Ремонт пылесосов</p>
      </li>
      <li class="categories-item">
        <Image src={stove} alt="Ремонт варочных панелей" />
        <p class="item-text">Ремонт варочных панелей</p>
      </li>
      <li class="categories-item">
        <Image src={smalls} alt="Ремонт мелкой бытовой техники" />
        <p class="item-text">Ремонт мелкой бытовой техники</p>
      </li>
    </ul>
  </div>
</main>

<style>
  h2 {
    color: rgb(100, 100, 100);
    font-family: Roboto, sans-serif;
    font-size: 42px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .categories {
    margin: 0 auto;
    width: 75%;
  }
  .categories-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-inline-start: 0px;
  }
  .categories-item {
    margin: 10px;
    height: 400px;
    width: 23%;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }
  .categories-item:hover {
    border: 1px solid #1f94d2;
  }
  .categories-item img {
    width: auto;
    height: auto;
    overflow: hidden;
    margin-top: 20%;
  }
  .item-text {
    max-width: 80%;
    color: rgb(100, 100, 100);
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: bold;
  }
  @media (max-width: 1500px) {
    .categories-item {
      height: 300px;
      width: 22%;
    }
    .item-text {
      font-size: 18px;
    }
  }
  @media (max-width: 1200px) {
    .item-text {
      font-size: 16px;
    }
  }
  @media (max-width: 1000px) {
    .categories {
      width: 90%;
    }
    .categories-item {
      width: 45%;
    }
  }
  @media (max-width: 500px) {
    .categories {
      width: 100%;
    }
    .categories-item {
      margin: 5px;
      width: 45%;
    }
  }
</style>
